/BinaryOpType.class
/ClassBuilder.class
/Field.class
/FieldInitializer.class
/InstrType.class
/JType.class
/LPC2J.class
/LPCObject.class
/LPCType.class
/LiteralType.class
/Method.class
/SourceFile.class
/Symbol.class
/SymbolType.class
/UnaryOpType.class
